@mixin image-replacement($background-props: false) {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	// Joe's addition, after months of no changes.
	font-size: 0;

	@if $background-props == true {
		// background image properties
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 100% auto;
	}
}

@mixin disable-text-selection {
	/* http://stackoverflow.com/a/4407335 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin svg-container {
	position: relative;

	svg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin height-ratio($ratio, $use-after-pseudo-element: true) {
	$width: 100%;

	@if $use-after-pseudo-element {
		&:after {
			content: "";
			display: block;
			pointer-events: none;
			width: $width;
			height: 0;
			padding-bottom: $ratio * $width;
		}
	} @else {
		height: 0;
		padding-bottom: $ratio * $width;
	}
}
