$_nytpi-default-size-class-config: (
	options: (
		layout-types: (
			grid,
			pspx
		),
		config-pspx-ratio: 2,
		default-layout-type: grid,
		outer-margin: 120/2560,
		pspx-ratio: 2,
		font-size: (
			font-size-unit: em,
			min-font-size-ratio: 15/16
		)
	),
	classes: (
		mobile-portrait: (
			grid: (
				columns: 4,
				gutters: 32/121
			),
			pspx: (
				columns: 640,
				gutters: 0
			),
			media: (
				max-width: 539px
			)
		),
		tablet-portrait: (
			grid: (
				columns: 8,
				gutters: 32/146
			),
			pspx: (
				columns: 1536,
				gutters: 0
			),
			media: (
				540px,
				853px
			)
		),
		tablet-landscape: (
			grid: (
				columns: 12,
				gutters: 32/164
			),
			pspx: (
				columns: 2048,
				gutters: 0
			),
			media: (
				854px,
				1279px
			)
		),
		desktop: (
			grid: (
				columns: 12,
				gutters: 32/164,
				container: 1605px
			),
			pspx: (
				columns: 2560,
				gutters: 0,
				container: 1605px
			),
			media: (
				1280px,
			),
			font-size: (
				font-size-unit: vw
			)
		),
		shell: (
			grid: (
				columns: 12,
				gutters: 32/164,
				container: 1605px
			),
			pspx: (
				columns: 3210,
				gutters: 0,
				container: 1605px
			),
			media: (
				1605px,
			)
		)
	),
	families: (
		compact: (mobile-portrait,),
		regular: desktop for desktop to tablet-portrait,
		all-mobile: mobile-portrait to desktop,
		all-desktop: desktop to mobile-portrait
	),
	breakpoints: (
		between-desktop-and-shell: (
			media: (
				1281px, 1604px
			)
		)
	)
);
